<section class="wrapper style1 container special">
    <div class="row">
        {% for item in page.header.features %}
            <div class="4u 12u(narrower)">
                <section>
                    {% if item.icon %}
                    <span class="icon featured fa-{{ item.icon }}"></span>
                    {% endif %}
                    <header>
                        <h3>{{ item.title }}</h3>
                    </header>
                    <p>{{ item.text }}</p>
                    {% if item.buttons %}
                    <footer>
                        <ul class="buttons">
                            {% for button in item.buttons %}
                                <li><a href="{{ button.url }}" class="button small">{{ button.text }}</a></li>
                            {% endfor %}
                        </ul>
                    </footer>
                    {% endif %}
                </section>
            </div> 
        {% endfor %}
    </div>
</section>