<section class="wrapper style3 container special">

    <header class="major">
        <h2>{{ page.header.title }}</h2>
    </header>

    {% for row in page.header.portfolio|batch(2) %}
        <div class="row">
            {% for item in row %}
                <div class="6u 12u(narrower)">
                    <section>
                        <a href="{{ item.image_link }}" class="image featured"><img src="{{ page.media[item.image].url }}" alt="" /></a>
                        <header>
                            <h3>{{ item.title }}</h3>
                        </header>
                        <p>{{ item.text }}</p>
                    </section>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <footer class="major">
        <ul class="buttons">
            {% for button in page.header.buttons %}
                <li><a href="{{ button.url }}" class="button">{{ button.text }}</a></li>
            {% endfor %}
        </ul>
    </footer>

</section>    