<footer id="footer">

    <ul class="icons">
        {% for item in site.social %}
             <li><a href="{{ item.url }}" class="icon circle fa-{{ item.icon }}"><span class="label">{{ item.label }}</span></a></li>
        {% endfor %}
    </ul>

    <ul class="copyright">
        <li>&copy; {{ site.copyright.line1 }}</li><li>{{ site.copyright.line2 }} <a href="{{ site.copyright.url }}">{{ site.copyright.url_label }}</a></li>
    </ul>
    
</footer>