<header id="header" class="{{ page.header.header_class }}">
  <h1 id="logo"><a href="{{ base_url_absolute }}">{{ site.logo.text1 }} <span>{{ site.logo.text2 }}</span></a></h1>
  <nav id="nav">
    <ul>
      <li class="current"><a href="{{ base_url_absolute }}">Welcome</a></li>
      <li class="submenu">
        <a href="">Layouts</a>
        <ul>
          {% for page in pages.children %}
          {% if page.visible %}
          {% set current_page = (page.active or page.activeChild) ? 'current' : '' %}
          <li class="{{ current_page }}">
            <a href="{{ page.url }}">
              {{ page.menu }}
            </a>
          </li>
          {% endif %}
          {% endfor %}
          {% for mitem in site.menu %}
          <li>
            <a href="{{ mitem.link }}">{{ mitem.text }}</a>
          </li>
          {% endfor %}
          <li class="submenu">
            <a href="">Submenu</a>
            <ul>
              {% for submenu in site.submenu %}
              <li><a href="{{ submenu.link }}">{{ submenu.text }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </li>

      {% for button in site.buttons %}
      <li><a href="{{ button.link }}" class="button special">{{ button.text }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
